
# Python and jupyter
__pycache__/
.idea
.ipynb_checkpoints/
*.pyc

# Dev tools
.vscode

# Logs
*.log
log/

# Images and ressources
*.jpg
*.mp4
*.npy
*.png
*.save

# Mujoco
MUJOCO_LOG.TXT
**/kinematics/*.txt

# ROS
devel/
logs/
build/
lib/
msg_gen/
srv_gen/

docker-images/
ros_ws/src/primitive_library/scripts/plot_trajectories.py
ros_ws/src/planner/src/llm_planner/log